.page
  -@empty_boxes.times do
    .box
  -@first_boxes.each do |box|
    =render 'box', box: box
.page-break

-@boxes.in_groups_of(10, false).each do |box_group|
  .page
    -box_group.each do |box|
      =render 'box', box: box
  .page-break

:css
  body {
    width: 8.5in;
    margin: 0in .1875in;
    }
