.row
  .large-6.small-12.columns
    %h2 Roombox

    =link_to "Add Room", new_room_path
.row
  .large-6.small-12.columns
    -@rooms.each do |room|
      =link_to room.name, room_path(room), class: "button"
  .large-6.small-12.columns
    .row
      =form_tag '/labels', method: :get do
        .large-12.small-13.columns
          %h4 Print Labels
          .row.collapse
            .large-3.small-3.columns
              =text_field_tag :from, nil, placeholder: "From"
            .large-3.small-3.columns
              =text_field_tag :to, nil, placeholder: "To"
            .large-3.small-3.columns
              =text_field_tag :row,nil, placeholder: "Start Row"
            .large-3.small-3.columns
              =submit_tag "Go", class: "button postfix"
    .row
      .large-12.columns
        %h4 Search 
      =form_tag '/items/search', remote: true do
        .large-8.small-12.columns
          .row.collapse
            .small-9.columns
              =text_field_tag :query, nil, placeholder: "Item Search"
            .small-3.columns
              =submit_tag "Search", class: "button postfix"
      =form_tag '/boxes/lookup', remote: true do
        .large-4.small-12.columns
          .row.collapse
            .small-9.columns
              =text_field_tag :box, nil, placeholder: "Box"
            .small-3.columns
              =submit_tag "Go", class: "button postfix"

    .row.search-results
