.row
  %ul.breadcrumbs
    %li
      %a{href: '/'} Rooms
    %li.current
      =@room.name
.row
  %h2{style: "color: #{@room.color_code}"}
    = @room.name
  =link_to "Edit Room", edit_room_path(@room)
  |
  =link_to "New Box", new_room_box_path(@room)
.row
  .large-6.small-12.columns
    -@room.boxes.each do |box|
      =link_to box.name, box_path(box), class: "button #{'success' if box == Box.last}"
