.box{
  /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
  width: 4in; /* plus .6 inches from padding */
  height: 2in; /* plus .125 inches from padding */
  padding: .125in .3in 0;
  margin-right: .25in; /* the gutter */

  float: left;

  text-align: center;
  overflow: hidden;

  outline: 1px dotted; /* outline doesn't occupy space like border does */
  }
.page-break  {
  clear: left;
  display:block;
  page-break-after:always;
  }

.name {
  float:left;
  width:40%;
}
.name h1{
  font-size: 70px;
  margin:0;
  font-weight: bold;
  line-height:70px;
}
.items {
  float:right;
  width:60%;
  text-align: left;
}
.items li{
  list-style-type: none;
  line-height:16px;
}
